################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/snowleapord/FileContentIndex/61ef4f64-622e-4546-ab25-256654b55b8a.vsidx
